# This workflow will delete the respective fork branch when a PR authored by 'jenkins-is-staging' is merged/closed.
name: Fork Branch Deleter

on:
  pull_request_target:
    types: [ closed ]

jobs:
  build:
    # Check whether the PR was authored by 'wso2-jenkins-bot'
    if: github.event.pull_request.head.repo.owner.login == 'guestanu'
    runs-on: ubuntu-latest

    steps:
      # Check out the asgardeo-product fork of 'wso2-jenkins-bot' user
      - uses: actions/checkout@v2
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          token: ${{ secrets.GUEST_ANU_TOKEN }}

      - name: Delete Fork Branch of wso2-jenkins-bot
        run: git push -d origin ${{ github.event.pull_request.head.ref }}
        
